
body{
  margin:0;
  padding:0;
}


/*
Header styles. These include the styles for the background of the header
*/

header {
  width: 100%;
  background-color: #34302E;
  margin:0;
  padding:0;
  display: flex;
  justify-content: flex-end;
}


 ul {
  outline: 1px solid red;
  display: none;
  flex-flow: row nowrap;
  justify-content:space-around;
  list-style: none;
  margin:0;
  padding:0;
  width: 100%;
}

ul li {
  outline: 1px solid black;
  margin: 20px 0;
}

header a {
  text-decoration: none;
  color: white;

}

#toc {
  display: block;
  align-self: flex-end;
  margin: 20px 0px;
  padding-right: 20px;
  text-decoration: none;
}

#toc:hover {
  background: white;
  color: black;
  border-bottom: 1px solid red;
}

#close {
  color: red;
}

#close:hover {
  background: red;
  color: white;
}



main {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url("../images/birdcage.jpg");
  background-size: cover;
  height: 500px;
  justify-content: center;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color:#524E4B;
}
